.carousel{
    display: flex;
    justify-content: right;
    align-items: end;
    margin: 2rem auto;
  position: relative;
  height: 400px;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  color : white;
  
}

.carousel a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #4d0802;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    display: inline-block;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    -webkit-text-stroke: 0.25px black;
    padding: 20px;
    text-align: center;
    max-width: 200px;
    margin: 1rem;
}