html {
display: flex;
flex-direction: column;
align-items: center;
}

.navigation {
  background-color: #4d0802;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.register-form, .login-form {
  background-color: #f4f1de;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 2rem auto;
}

.register-form h2, .login-form h2 {
    display: inline-flex;
    margin : 1rem;
}
.register-form h2 a, .login-form h2 a {
  text-decoration: none;
  color: black;
}
.random-winery-cards{
  background-color: #e3cb8a;
  display: flex;
  flex-direction: row;
  justify-content: center;;
  margin: 2rem 0;
  border: black solid 1px;
  padding: 1rem;
  width: 90%;
  
}

.divider {
  height: 2px;
  background-color: #4d0802;
  margin: 2rem 0;
}

